.DS_Store
.idea/
*.pyc
.*options.json
.*options2.json
__pycache__/
scripts/deploy.bat
scripts/deploy.bat
mappia_publisher/options.json
*.bak
aaa/test/default_test_parameters.json
*/test/*
options.json
mappia_publisher/zip_build
mappia_publisher/options.json
